<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>&copy {{ site.time | date: '%Y' }}  Computer Vision and Remote Sensing Group.</p>
              <p>We are part of the <a href="http://cs.njust.edu.cn/">School of Computer Science and Engineering, </a> at <a href="http://www.njust.edu.cn/">Nanjing University of Science and Technology</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<!-- <div class="col-sm-4">
		  Funding for early career support:<br />
		  - <a href="https://kaw.wallenberg.org/en/andre-teixeira">Wallenberg Academy Fellow 2023</a> <br />
      - <a href='https://strategiska.se/en/research/ongoing-research/framtidens-forskningsledare-7/'>SSF Future Research Leaders 7</a> <br />
      - <a href="https://www.vr.se/english/applying-for-funding/calls/2018-03-07-starting-grant-within-natural-and-engineering-sciences.html">VR Starting Grant</a> <br />
 			- <a href="http://www.it.uu.se/research/cybersecurity">UU Joint Strategic Research Activities on Cybersecurity</a>, an initiative from the Department of Information Technology <br />
		</div> -->
		<div class="col-sm-6">
		  Contact:<br />
		  Room 4026, Dingxin Building<br />
		  Nanjing University of Science and Technology<br />
		  Nanjing, 210094<br />
		  China <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
